<footer class="bg-primary-main sm:pt-48 pt-24 pb-8 sm:px-4 px-6 text-gray-400">
  <div class="w-full sm:max-w-7xl mx-auto">
    <div class="grid grid-cols-12 sm:gap-x-6 gap-y-4 mb-32">
      <div
        class="sm:col-span-3 col-span-12 sm:mb-0 mb-4"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <h3 class="text-5xl text-white font-bold mb-6">
          Glow<span class="text-xs text-red-500">&#9679;</span>
        </h3>

        <div class="text-sm mb-6">
          <p>
            Keep Up With Our New Releases,<br />
            Beauty Tips And What Emma's Been<br />
            Up To.
          </p>
        </div>

        <div class="flex items-center gap-x-4">
          <span mat-icon-button>
            <img src="assets/images/facebook.svg" width="24" alt="" />
          </span>
          <span mat-icon-button>
            <img src="assets/images/instagram.svg" width="24" alt="" />
          </span>
          <span mat-icon-button>
            <img src="assets/images/twitter.svg" width="24" alt="" />
          </span>
          <span mat-icon-button>
            <img src="assets/images/linkedin.svg" width="24" alt="" />
          </span>
        </div>
      </div>
      <div
        class="sm:col-span-2 col-span-12"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-delay="400"
      >
        <h3 class="text-lg text-white font-bold mb-6">Company</h3>

        <ul class="text-sm">
          <li><a class="block pb-2" href="">About</a></li>
          <li><a class="block py-2" href="">Jobs</a></li>
          <li><a class="block py-2" href="">Branding</a></li>
          <li><a class="block py-2" href="">Newsroom</a></li>
        </ul>
      </div>
      <div
        class="sm:col-span-2 col-span-12"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-delay="500"
      >
        <h3 class="text-lg text-white font-bold mb-6">Resources</h3>
        <ul class="text-sm">
          <li><a class="block pb-2" href="">College</a></li>
          <li><a class="block py-2" href="">Support</a></li>
          <li><a class="block py-2" href="">Safety</a></li>
          <li><a class="block py-2" href="">Streamkit</a></li>
        </ul>
      </div>
      <div
        class="sm:col-span-2 col-span-12"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-delay="600"
      >
        <h3 class="text-lg text-white font-bold mb-6">Terms & Condition</h3>
        <ul class="text-sm">
          <li><a class="block pb-2" href="">Policy</a></li>
          <li><a class="block py-2" href="">Faq</a></li>
          <li><a class="block py-2" href="">Return & Delivery</a></li>
          <li><a class="block py-2" href="">Tracking</a></li>
        </ul>
      </div>
      <div
        class="sm:col-span-3 col-span-12"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-delay="700"
      >
        <h3 class="text-lg text-white font-bold mb-6">Subscribe</h3>

        <div class="text-sm">
          <p class="mb-4">Get 10% off your first order.</p>

          <div class="newsletter">
            <input type="text" width="100%" placeholder="Enter your email" />
            <button
              class="w-12 h-12 flex justify-center items-center bg-secondary-main text-white p-2 rounded-full border-2 border-gray-100 m-1"
            >
              <hero-icon
                name="paper-airplane"
                hostDisplay="inlineBlock"
                type="outline"
                class="w-6 h-6 rotate-45"
              ></hero-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr class="w-full sm:w-96 my-8 mx-auto border-0 border-b border-gray-600" />

    <div
      class="text-sm text-center translate-y-0"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <p>Copyright &copy; 2022 Musemind | All Right Reserved.</p>
    </div>
  </div>
</footer>
